header 
{background-image: url("https://tb-static.uber.com/prod/image-proc/processed_images/ededa51b98fa2f17cc357e1599324a14/c9252e6c6cd289c588c3381bc77b1dfc.jpeg");
background-position: center center;
background-size: cover;
}

#hero-text {
    color:rgb(6, 59, 6) !important;
    font-size: 72px;
    text-shadow: 2px 2px 5px black
}

header p { 
  color: rgb(255, 255, 255);  
  font-size: 24px;
  font-weight: 900 !important;
  text-shadow: 1px 1px 2px black
}
