header 
{background-image: url("https://tb-static.uber.com/prod/image-proc/processed_images/ededa51b98fa2f17cc357e1599324a14/c9252e6c6cd289c588c3381bc77b1dfc.jpeg");
background-position: center center;
background-size: cover;
}